html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

h1, h2, h3, ul, a, p, span, input, textarea, div {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 30px;
  /* Swipper */
  /* mise en avant */
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }
}

body header {
  background-color: #ebebeb;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

body header h1 {
  display: none;
}

body header .header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

body header .header .social {
  margin-left: 30px;
}

body header .header .social li .im-linkedin {
  font-size: 20px;
}

body header .header .social li .im-linkedin:hover {
  transform: translateX(15px);
  transition: all 0.5s ease;
}

body header .header .social li .im-behance:hover {
  transform: translateX(15px);
  transition: all 0.5s ease;
}

body header .header .social li + li {
  margin-top: 10px;
}

body header .header .logo img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body header .header .logo img {
    margin-right: 5px;
  }
}

body header .header .trigger {
  margin-right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-height: 24px;
}

body header .header .trigger span {
  text-transform: uppercase;
  margin-right: 15px;
}

body header .header .trigger i.im-menu {
  display: block;
}

body header .header .trigger i.im-menu.open {
  display: none;
}

body header .header .trigger i.im-x-mark {
  display: none;
}

body header .header .trigger i.im-x-mark.open {
  display: block;
}

body header .header .trigger:hover span {
  transform: translateX(-15px);
  transition: all 0.5s ease;
}

body header .about {
  display: block;
  max-height: 350px;
  width: 100%;
}

body header .about .background {
  background-color: #f5f5f5;
  width: 800px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body header .about .background {
    width: 250px;
    height: 100px;
  }
}

body header .about img {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  body header .about img {
    width: 60%;
    top: -50%;
  }
}

body header i.im-angle-down {
  max-height: 24px;
  padding-bottom: 30px;
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

body nav {
  /* gradient */
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  /* normal rules */
  display: flex;
  height: 70vh;
  position: absolute;
  left: 0;
  bottom: -200%;
  padding: 60px 60px 0 60px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
  body nav {
    display: none;
    flex-direction: column;
    height: 1000px;
    top: 130px;
  }
}

body nav ul.nav li a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

body nav ul.nav li:hover {
  transform: translateX(15px);
  transition: all 0.5s ease;
}

body nav ul.nav li + li {
  margin-top: 30px;
}

body nav form {
  width: 350px;
}

@media screen and (max-width: 768px) {
  body nav form {
    width: 250px;
  }
}

body nav form input, body nav form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

body nav form .submit {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

body nav form .submit input[type='submit'] {
  border-bottom: none;
  padding-bottom: 0;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: inherit;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
}

body nav form .submit input[type='submit']:hover {
  transform: translateX(-15px);
  transition: all 0.5s ease;
}

body nav form .submit .im-arrow-right {
  color: white;
}

body nav form ::-webkit-input-placeholder {
  /* Chrome */
  color: white;
  font-size: 16px;
}

body nav form :-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  font-size: 16px;
}

body nav form ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: 1;
  font-size: 16px;
}

body nav form :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
  font-size: 16px;
}

body nav section.info {
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  body nav section.info {
    margin-bottom: 75px;
  }
}

body nav section.info h2 {
  font-weight: 700;
  margin-bottom: 30px;
}

body nav section.info .address {
  margin-bottom: 30px;
}

body nav section.info .address span {
  display: block;
}

body nav section.info .address span:first-of-type {
  margin-bottom: 5px;
}

body nav section.info .email a {
  color: white;
  margin-bottom: 5px;
}

body nav.open {
  opacity: 1;
  bottom: 0;
  display: flex;
  transition: all 0.3s ease;
}

body div.swiper-container {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body div.swiper-container {
    height: inherit;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container {
  display: flex !important;
  width: 60%;
  height: 54%;
  display: block;
  margin: 220px auto;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container {
    flex-direction: column;
    width: 75%;
    height: inherit;
    margin: auto;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap {
  width: calc(100%/3);
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap {
    width: 100%;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.cercle {
  position: absolute;
  width: 470px;
  height: 470px;
  border-radius: 235px;
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.cercle {
    width: 280px;
    height: 280px;
    border-radius: 140px;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type, body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type {
    justify-content: flex-start;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div h2 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 30%;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div h2 {
    font-size: 2.5em;
    margin-bottom: 5%;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div h2:before {
  content: '';
  width: 150px;
  height: 25px;
  background-color: #ebebeb;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div h2:before {
    width: 90px;
    height: 20px;
    top: 25px;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div div i, body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div div span {
  font-size: 16px;
  margin-bottom: 15px;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div div i a, body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div div span a {
  display: inline-block;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div div i a:hover, body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div div span a:hover {
  color: #ff3e31;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div.behance {
  position: relative;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div.behance {
    margin: 50px 0 25px 0;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div.behance a:hover {
  transform: translateX(15px);
  color: #ff3e31;
  transition: all 0.5s ease;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div.behance span {
  display: block;
  transform: rotate(-90deg);
  position: absolute;
  top: 100px;
  left: -60px;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:first-of-type div.behance span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) ul {
    margin: 25px 0;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) ul li {
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) ul li {
    text-align: center;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) div {
  width: 70%;
  margin-left: 120px;
}

@media screen and (max-width: 768px) {
  body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) div {
    margin-left: 0;
    width: 100%;
  }
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) div p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 125%;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) div p:first-of-type {
  font-weight: 700;
  font-size: 18px;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) div a {
  text-transform: uppercase;
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  border: 2px solid #ff3e31;
  padding: 10px 15px;
  text-align: center;
}

body div.swiper-container div.swiper-wrapper div.swiper-slide div.container div.wrap:nth-of-type(3) div a:hover {
  border: 2px solid black;
  color: black;
  background: none;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
  filter: none;
  padding: 15px 15px;
  transition: all 0.5s ease;
}

body section.comp {
  /* gradient */
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  body section.comp {
    flex-direction: column;
    padding: 40px 0;
    justify-content: inherit;
  }
}

body section.comp ul {
  text-align: center;
  color: white;
  margin: 0 150px;
}

@media screen and (max-width: 768px) {
  body section.comp ul {
    margin: 0;
    margin-bottom: 50px;
  }
}

body section.comp ul i {
  margin-bottom: 20px;
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  body section.comp ul i {
    font-size: 90px;
    margin-bottom: 10px;
  }
}

body section.comp ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  body section.comp ul li {
    font-size: 20px;
  }
}

body section.comp ul:nth-of-type(2) {
  margin: 0 100px;
}

@media screen and (max-width: 768px) {
  body section.comp ul:nth-of-type(2) {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 768px) {
  body section.comp ul:nth-of-type(3) {
    margin-bottom: 0;
  }
}

body section.cv {
  display: flex;
  margin: 50px 0;
}

@media screen and (max-width: 768px) {
  body section.cv {
    flex-direction: column;
    margin: 30px 0;
  }
}

body section.cv ul.xp {
  width: 40%;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  body section.cv ul.xp {
    width: 100%;
    margin-bottom: 25px;
  }
}

body section.cv ul.edu {
  width: 40%;
}

@media screen and (max-width: 768px) {
  body section.cv ul.edu {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 25px;
  }
}

body section.cv div.presentation {
  width: 20%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  body section.cv div.presentation {
    width: 80%;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  body section.cv div.presentation div {
    margin-bottom: 25px;
  }
}

body section.cv div.presentation div p {
  font-size: 18px;
  line-height: 150%;
}

body section.cv div.presentation div p:first-of-type, body section.cv div.presentation div p:nth-of-type(2) {
  margin-bottom: 15px;
}

body section.cv div.presentation ul.lien li a {
  /* gradient */
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  margin-bottom: 25px;
}

body section.cv div.presentation ul.lien li a:hover {
  border: 2px solid black;
  color: black;
  background: none;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
  filter: none;
  padding: 25px 0;
  transition: all 0.5s ease;
  font-weight: 700;
}

body section.cv ul li h2 {
  font-size: 26px;
  position: relative;
  margin-bottom: 50px;
}

body section.cv ul li h2:after {
  content: '';
  width: 70px;
  border-bottom: solid 2px black;
  position: absolute;
  top: 45px;
  left: 0;
}

body section.cv ul li ul {
  margin-bottom: 30px;
}

body section.cv ul li ul li {
  margin-bottom: 8px;
}

body section.cv ul li ul li:first-of-type {
  /* gradient */
  background: #ff3e31;
  background: -moz-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: -webkit-linear-gradient(left, #ff3e31 0%, #ff9948 100%);
  background: linear-gradient(to right, #ff3e31 0%, #ff9948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e31', endColorstr='#ff9948',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

body section.cv ul li ul li:nth-of-type(2) {
  font-weight: 300;
  margin-bottom: 10px;
}

body section.cv ul li ul li:nth-of-type(3) {
  font-weight: 700;
}

body footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  padding: 25px 0;
}

body footer .footerlogo {
  margin-left: 30px;
}

body footer .footerlogo img {
  display: block;
  width: 40%;
}

body footer a i.im-arrow-up {
  margin-left: 120px;
}

@media screen and (max-width: 768px) {
  body footer a i.im-arrow-up {
    margin-left: -25px;
  }
}

body footer div {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  body footer div {
    font-size: 12px;
    width: 20%;
  }
}

/* animation */
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
